# Interactive Python shell.
ipython
# Jupyter notebook/lab support.
ipykernel
# Jupyter lab.
jupyterlab
# Jupyter notebook.
notebook
# Numerical arrays.
numpy
# Data Frames.
pandas
# Scientific computing.
scipy
# Statistical modeling.
statsmodels
# Download financial market data.
yfinance
# Plotting.
matplotlib
# Statistical data visualization.
seaborn
# Quantum computing.
qiskit[visualization]
# Quantum simulators.
qiskit-aer
# Machine learning.
scikit-learn
# Symbolic mathematics.
sympy
# Testing.
pytest